<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<nav class="navbar navbar-inverse navbar-static-top">
	  		<div class="container">
		  		<div class="navbar-header">
		  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
      				</button>
		  			<a class="navbar-brand" href="/">
						Adam Haag
		  			</a>
		  		</div>
		  		<div class="collapse navbar-collapse text-center" id="myNavbar">
			    	<ul class="nav navbar-nav navbar-right">
			        	<li><a href="/portfolio">Portfolio</a></li>
			        	<li><a href="/contact">Contact</a></li>
			        	<li><a href="/">About</a></li>
			    	</ul>
			    </div>	
		    </div>	
		</nav>

		<div class="container" id="content">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
            {{{body}}}

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default color-grey">
						<h1 class="panel-title">
							<div class="page-header connect-header">
								Connect with me
							</div>
						</h1>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6">
									<a href="https://www.linkedin.com/in/adam-haag-bb631651/" target="_blank">
										<img src="assets/images/linkedin.png" alt="LinkedIn" class="img-responsive img-link">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="https://github.com/gaahma" target="_blank">
										<img src="assets/images/github.png" alt="Github" class="img-responsive img-link">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">Copyright 2019 Adam Haag</div>
	</div>
</body>
</html>