      <h1>About me</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body color-grey">
        <img src="assets/images/placeholderIMG.png" alt="placeholder" class="img-thumbnail" id="about-me">
        <p>Lorem ipsum dolor sit amet, risus ligula, ac ullamcorp tellus maximus vitae. Donec arcu est, iaculis a massa at, lacinia auctor purus. Duis vitae ligula a nisi volutpat porttitor. Suspendisse id libero nisi. Vestibulum velit justo, auctor et hendrerit eget, efficitur in tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque velit nibh, congue non dolor in, vulputate sagittis risus. Vestibulum ac feugiat tortor.</p>

        <p>Donec volutpat lacus et lobortis molestie. Phasellus cursus vestibulum luctus. Vivamus nec augue vestibulum, elementum elit ac, suscipit mauris. Nullam ullamcorper mi sit amet velit facilisis, a pulvinar nibh gravida. Fusce tincidunt sapien non lectus lobortis, eget tincidunt tortor mattis. Aliquam tortor est, sodales in scelerisque ut, rhoncus quis libero. Vestibulum vel orci tempus magna congue tristique a ut tellus. Mauris sed viverra mi. Quisque condimentum, ipsum quis congue euismod, quam sapien ultricies lorem, eu blandit ex nulla a purus. Nam nec mauris sit amet nisl accumsan condimentum sed vitae metus. Mauris iaculis aliquet placerat. Mauris maximus lorem ac consectetur pulvinar. Phasellus mollis pulvinar lacus, id varius lorem pulvinar vitae. Nulla facilisi.</p>

        <p>In sit amet ante laoreet, tincidunt enim vel, condimentum nulla. Maecenas in enim at ipsum porta vehicula. Fusce gravida viverra auctor. Nulla vel libero vitae justo commodo congue nec ac justo. Pellentesque pellentesque, erat sit amet tincidunt auctor, lorem ante porttitor lectus, eu vestibulum tortor ex ut eros. Donec sed pulvinar ex. Proin tincidunt sed leo lacinia iaculis. Sed ut lorem id tellus dapibus consequat. In non lacus a nisi mattis iaculis ac vel sapien. Vestibulum turpis lectus, vehicula eget elementum vitae, dapibus ut ex.</p>
        <div class="clear"></div>