      <h1>About me</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body color-grey">
        <img src="assets/images/adamhaag.jpg" alt="Adam Haag" class="img-responsive about-me-pic" id="about-me">
          <p>  I'm a Full Stack Web Developer living in Charlotte, NC.  I took my first class in Java
            back in 2009, and I loved the cerebral nature of developing applications.
            I've learned a few more languages since then, but at this point in time, my primary focus is on web development. 
            I prefer working with JavaScript and the MERN stack, but I'm also proficient with Express-Handlebars and MySQL.
          </p>
          <p>  When I'm not coding or working, I'm spending time with my 3 year old son Ridley and wife Laura.
            Beyond that, I enjoy a wide range of activities such as chess, rubik's cubes, sudoku, and playing the piano.
          </p>
        <div class="clear"></div>