      <h1>Portfolio</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body color-grey">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#" class="project-link">
              <div class="project">
                <img src="assets/images/books.jpg" alt="books" class="img-responsive">
                <div class="project-label">Speed Reading</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#" class="project-link">
              <div class="project">
                <img src="assets/images/trumpet.jpg" alt="books" class="img-responsive">
                <div class="project-label">Ear Training</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/chess.jpg" alt="chess" class="img-responsive">
                <div class="project-label">Chess App</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/sudoku.jpg" alt="books" class="img-responsive">
                <div class="project-label">Sudoku App</div>
              </div>
            </a>
          </div>
        </div>	
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/coding.jpg" alt="chess" class="img-responsive">
                <div class="project-label">Coming Soon!</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/coding.jpg" alt="books" class="img-responsive">
                <div class="project-label">Coming Soon!</div>
              </div>
            </a>
          </div>
        </div>	