      <h1>Portfolio</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body color-grey">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="https://ancient-sands-23909.herokuapp.com/" target="_blank" class="project-link">
              <div class="project">
                <img src="assets/images/codatunes.png" alt="Codatunes" class="img-responsive">
                <div class="project-label">Codatunes</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="https://gamec0ck4l.github.io/Concert-Buddy/#" target="_blank" class="project-link">
              <div class="project">
                <img src="assets/images/concert-buddy.png" alt="Concert Buddy" class="img-responsive">
                <div class="project-label">Concert Buddy</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="https://gaahma.github.io/Hangman-Game/" target="_blank">
              <div class="project">
                <img src="assets/images/hangman.png" alt="Archer Hangman" class="img-responsive">
                <div class="project-label">Archer Hangman</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="https://gaahma.github.io/TriviaGame/" target="_blank">
              <div class="project">
                <img src="assets/images/trivia.png" alt="Trivia Game" class="img-responsive">
                <div class="project-label">Trivia</div>
              </div>
            </a>
          </div>
        </div>	
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 col-sm-offset-1 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/Newsflash.png" alt="Newsflash" class="img-responsive">
                <div class="project-label">Newsflash - coming soon!</div>
              </div>	
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 bottom-margin">
            <a href="#">
              <div class="project">
                <img src="assets/images/coding.jpg" alt="coding" class="img-responsive">
                <div class="project-label">More on the way!</div>
              </div>
            </a>
          </div>
        </div>	